/* Estilos para el modo día (predeterminado) */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 235, 235);
    color: rgb(26, 26, 26);
}

nav {
    margin-bottom: 30px;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.text-container {
    flex: 1;
    padding-right: 20px;
}

.text-container p {
    color: rgb(209, 55, 55);
    font-size: 2em;
    line-height: 1.25;
    color: #333;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 75%;
    height: auto;
    border-radius: 50%;
}

.nav-button {
    background-color: transparent;
    border: 0;
    color: #333;
    margin-top: 10px;
}

#text-saludo {
    font-weight: bold;
    font-size: 7em;
    color: rgb(42, 83, 245);
}

@media screen and (max-width: 768px) {
    .centered {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-container {
        flex: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
}